
<body class="main-layout">
    <section class="banner_main">
        <div id="banner1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#banner1" data-slide-to="0" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="carousel-caption">
                            <div class="text-bg">
                                <h1>Sân ván<span class="midil_img"> trượt</span></h1>
                                <figure><img src="~/Content/images/ima.png" alt="#" /></figure>
                                <p>Nhấn vào đây để tìm sân chơi phù hợp với bạn !</p>
                                <a class="read_more" href="~/ShoppingCart/Index">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </section>
    <!-- end banner -->
    <!-- about section -->
    <div id="about" class="about afbecros">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Về môn trượt ván</h2>
                        <figure><img src="~/Content/images/about_img.png" alt="#" /></figure>
                        <p> Nhấn vào đây để tìm hiểu về lịch sử của môn trượt ván ! </p>
                        <a class="read_more" href="~/Home/About">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about section -->
    <!-- classes section -->
    <!-- classes section -->
    <!-- testimonial section -->
    <div id="testimonial" class="testimonial afbecros">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Về chúng tôi</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="carousel-caption ">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="testimonial_box">
                                                    <h3>Giới thiệu</h3>
                                                    <p>Trang web được phát triển bởi Đặng Minh Khánh và Huỳnh Lan Nhi thực hiện môn lập trình web của 
                                                    Trường Đại học Tài nguyên và Môi trường Thành phố Hồ Chí Minh</p>
                                                    <br />
                                                    <br />
                                                    <a class="read_more" href="~/Home/Contact">Liên hệ với chúng tôi tại đây !</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="fid_box">
                            <ul class="location_icon">
                                <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a><br>Đặng Minh Khánh - Huỳnh Lan Nhi</li>
                                <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a><br>1050080017@sv.hcmunre.edu.vn</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
</body>

